<div class="row">
  <div class="col-12 my-auto text-right">
    <div class="btn-group">
      <div class="btnsHolder">
        <button class="btn btn-tiny btn-secondary"
                (click)="setView(monthView)"
                [class.active]="view === monthView">
          {{ 'events.month'| translate}}
        </button>
        <button class="btn btn-tiny btn-secondary"
                (click)="setView(weekView)"
                [class.active]="view === weekView">
          {{ 'events.week'| translate}}
        </button>
        <button class="btn btn-tiny btn-secondary"
                (click)="setView(dayView)"e
                [class.active]="view === dayView">
          {{ 'events.day'| translate}}
        </button>
      </div>
    </div>
  </div>
</div>

